<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item social-fb fa fa-facebook"></a>
                <a href="#" class="topbar-social-item social-insta fa fa-instagram"></a>
                <a href="#" class="topbar-social-item social-tw fa fa-twitter-square"></a>
                <a href="#" class="topbar-social-item social-y fa fa-youtube-play"></a>
            </div>

            <div class="topbar-child2">

					<span class="topbar-email">
                        (+221) 77 086 64 10
					</span>
            </div>
        </div>

        <div class="wrap_header">
            <!-- Logo -->
            <a href="{{ path('commerce_site_homepage') }}" class="logo">
                <img src="{{ asset('images/icons/logo.jpg') }}" alt="IMG-LOGO">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="#">Maquillage</a>
                            <ul class="sub_menu">
                                <div class="row">


                                    <div class="col-sm-4">
                                        <p style="color: white;font-weight: bold"><a href="">YEUX</a></p>
                                        <p class="sub_menu_item">
                                        <div class="bot-border"></div>
                                        <ul>
                                            <li class="li_sub_menu_item"><a href="#">Fards à paupières</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Mascaras</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Crayons et eyeliners</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Faux cils</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Sourcils</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Base ombre à paupières</a></li>
                                        </ul>
                                        </p>
                                    </div>

                                    <div class="col-sm-3">
                                        <p style="color: white;font-weight: bold"><a href="">LÈVRES</a></p>
                                        <p>
                                        <div class="bot-border"></div>
                                        <ul>
                                            <li class="li_sub_menu_item"><a href="#">Gloss</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Rouge à lèvres</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Crayons à lèvres</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Baumes à lèvres</a></li>
                                        </ul>
                                        </p>
                                    </div>

                                    <div class="col-sm-3">
                                        <p style="color: white;font-weight: bold"><a href="">TEINT</a></p>
                                        <p>
                                        <div class="bot-border"></div>
                                        <ul>
                                            <li class="li_sub_menu_item"><a href="#">Base de teint</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Fond de teint</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Poudre</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Correcteurs</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Blush & Bronzer</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Brumes fixantes</a></li>
                                        </ul>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <p style="color: white;font-weight: bold"><a href="">ONGLES</a></p>
                                        <p>
                                        <div class="bot-border"></div>
                                        <ul>
                                            <li class="li_sub_menu_item"><a href="#">Stickers ongles</a></li>
                                            <div class="bot-border"></div>
                                            <li class="li_sub_menu_item"><a href="#">Vernis à ongles</a></li>
                                        </ul>
                                        </p>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                            </ul>
                        </li>

                        <li>
                            <a href="{{ path('commerce_site_accessoires') }}">Accessoires</a>
                        </li>

                        <li class="sale-noti">
                            <a href="product.html">Tutos</a>
                        </li>

                        <li>
                            <a href="cart.html">Nos Marques</a>
                        </li>

                        <li>
                            <a href="{{ path('commerce_site_blog') }}">Blog</a>
                        </li>

                        <li>
                            <a href="{{ path('commerce_site_apropros') }}">Qui sommes-nous ?</a>
                        </li>

                        <li>
                            <a href="{{ path('commerce_site_contacter_nous') }}">Contactez nous</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('images/icons/icon-header-01.png') }}" class="header-icon1" alt="ICON">
                </a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        {{ include('@CommerceAdmin/Includes/login_content.html.twig') }}
                    </li>
                </ul>
                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <img src="{{ asset('images/icons/icon-header-02.png') }}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="{{ asset('images/item-cart-01.jpg') }}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $19.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="{{ asset('images/item-cart-02.jpg') }}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $39.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="{{ asset('images/item-cart-03.jpg') }}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $17.00
										</span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="{{ path('commerce_site_panier') }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="index.html" class="logo-mobile">
            <img src="images/icons/logo.jpg" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>
                <ul id="login-dpm" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-xs-6">
                                Se connecter via
                                <div class="social-buttons">
                                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="#" class="btn btn-google"><i class="fa fa-google"></i> Google</a>
                                </div>
                                <div style="margin-left: 46%">Ou</div>
                                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                            <div class="bottom text-center">
                                Nouveau ici ? <a href="{{ path("fos_user_registration_register") }}"><b>Rejoignez-nous</b></a>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $19.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $39.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $17.00
										</span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

                        <div class="topbar-language rs1-select2">
                            <select class="selection-1" name="time">
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Homepage V1</a></li>
                        <li><a href="home-02.html">Homepage V2</a></li>
                        <li><a href="home-03.html">Homepage V3</a></li>
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>

                <li class="item-menu-mobile">
                    <a href="product.html">Shop</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="product.html">Sale</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="cart.html">Features</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="blog.html">Blog</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="about.html">About</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>